.contact-form-heading {
    font-size: 36px;
    text-align: center;
    margin-top: 48px; /* 3em */
    margin-bottom: 16px; /* 1em */
}
.contactform form {
    text-align: center;
    max-width: 800px; /* 50em */
    margin: 16px auto; /* 1rem */
    margin-bottom: 48px; /* 3em */
}
.contactform form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contactform form .input-box input,
.contactform form textarea {
    width: 100%;
    padding: 24px; /* 1.5em */
    font-size: 18px;
    color: black;
    background-color: rgb(241, 241, 241);
    border-radius: 12.8px; /* 0.8rem */
    margin: 16px 0; /* 1rem */
    resize: none;
}
